@page {
    margin: 0 !important;
    padding: 0 !important;
    size: Legal Portrait;
    border: none !important;
}
@media print
{
    body {
        border: none !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .container {
        /* width: 816px;
        height: 1344; */
        padding: 0 10px;
    }
    .logo-image {
        width: 50px;
    }
    .margin-bottom-30 {
        margin-bottom: 10px !important;
    }
     .header{
		display: none;
	}
   .side-navbar {
	display: none;
   }
   section.tables{
	padding: 0 !important;
   }
   .report_gen{
	padding: 0;
   }
   #print_area{
	padding: 0 !important;
   }
   .tables .col-lg-12{
	padding: 0 20px;
	margin-top: 0;
   }
   .tables .row{
	margin: 0;
   }
    .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,.col-sm-6, .col-sm-7, .col-sm-9, .col-sm-10 {
            float: left;
		  
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6{
 
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .split.col-sm-6{
		padding: 0;
    }
    .description_content {
        padding: 15px !important;
        padding-bottom: 0 !important;
    }
    .description_list {
        padding: 23px 0 10px;
    }
    .text-size-10 {
        font-size: 18px !important;
        margin-bottom: 0 !important;
    }
    .description_list {
        margin-top: 0 !important;
    }
    .no-float {
        float: none !important;
    }
    .text-size-12 {
        font-size: 12px !important;
    }
    .text-size-17 {
        font-size: 17px !important;
    }
    .text-size-18 {
        font-size: 18px !important;
    }
    .text-size-20 {
        font-size: 20px !important;
    }
    .text-size-25 {
        font-size: 25px !important;
    }
    .text-size-30 {
        font-size: 30px !important;
    }
    .print_hide{
        display: none !important;
    }
    .well {
        border: none !important;
        min-height: auto !important;
        border-radius: 0 !important;
    }
    .logo-image-outer {
        padding-top: 15px !important;
    }
    
    .font-big {
		font-size: 23px;
		font-weight: 700;
	}
    .font-medium{
	font-size: 20px;
    }
    
    .p_m_40{
	margin-left: 40px;
    }
    .p_m_45{
	margin-left: 45px;
    }
    .p_m_55{
	margin-left: 55px;
    }
    .p_m_68{
	margin-left: 68px;
    }
    .p_m_60{
	margin-left: 60px;
    }
    
    .tag_div{
	display: inline-block;
	font-weight: 700;
	padding-top: 7px;
    }
    .value_div {
	    display: inline-block;
	margin-left: 0;
	padding-left: 0;
	 width: 60%;
	 text-align: center;
    }
    
    .p_w_85{
	width: 85%;
    }
    .p_w_75{
	width: 73%;
    }
    .p_w_65{
	width: 55%;
    }
     .p_w_80{
	width: 80%;
    }
    .no-right-padding{
	padding-right: 0;
    }
    .no-left-padding{
	padding-left: 0;
    }
    .no-padding{
	padding-right: 0;
	padding-left: 0;
    }
    .print_btn{
	display: none;
    }
    .signature_area{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
    }
    
    .split .child.item{
	    
       padding: 0;
    font-size: 12px;
    min-width: auto;
    text-align: left;
    }
   .split  .child.item_mid{
	min-width: 150px;
    }
    .child.item:first-child{
	    margin-top: 6px;
	    width: 105px;
    }
    .split .child.item:last-child{
	padding-right: 0;
	width: 130px;
	word-break: break-all;
    }
   .split .each_print_div {
    padding: 5px 0 0px;
}
}
